*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*   styling add question form start  */
#addQuestionForm{
    margin-left: 200px;
    margin-top: 70px;
    padding: 10px;
    overflow-x: hidden;
}

#addQuestionForm .contain-test-details .row{
    margin-bottom: 0;
}

#addQuestionForm .contain-test-details h4{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 15px;
}

#addQuestionForm .containTestId{
    font-size: 16px;
}

#addQuestionForm h5 .lblTestId{
    font-weight: 500;
    font-size: 16px;
    color: dimgrey;
}

#addQuestionForm .contain-test-details .form-group label:nth-child(1){
    display: inline;
    width: 80%;
    font-weight: 500;
}

/*   styling add question form ends  */

/*   styling adding new question start  */
#addQuestionForm .contain-add-question .question-choices .form-control{
    display: inline;
    width: 80%;
}
/*   styling adding new question start  */