*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*   styling add teacher form start  */
#teacherDetails{
    margin-left: 210px;
    margin-top: 60px;
    padding: 10px;
    overflow-x: hidden;
}

#teacherDetails h4{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
}

#teacherDetails .help-text{
    color:#7d7d7d;
    text-shadow: 0 0 black;
}

#teacherDetails .form-group .form-control{
    display: inline;
    width: 70%;
}

#teacherDetails .form-group .contain-class{
    padding:5px;
}

#teacherDetails .form-group .contain-class label{
    margin-right:30px;
}

/*   styling add teacher form ends  */


/*   styling the modal popup start  */

/* The Modal (background) */
#teacherDetails .modal-edit-tea-details {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  #teacherDetails .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  #teacherDetails .modal-content .modal-header h2{
    font-size: 20px;
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  #teacherDetails .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #teacherDetails .close:hover,
  #teacherDetails .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  #teacherDetails .modal-header {
    padding: 8px 16px 0px 6px;
    background-color: #245571;
    color: white;
  }
  
  #teacherDetails .modal-body {padding: 2px 16px;}
  
  #teacherDetails .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }

/*   styling add modal popup ends  */

#containSmallTbl{
  border-radius: 5px;
  padding: 0px 0px 0px 5px;
  cursor: pointer;
}
#containSmallTbl .closeSmTable{
  float: right;
  padding: 0 5px 0 0;
  font-size: 16px;
  font-weight: 800;
}
#containSmallTbl span{
  margin: 0;
  font-size: 13px;
  color: blue;
}
#containSmallTbl .ddlSmTbl tr{
  background-color: unset;
}
#containSmallTbl .ddlSmTbl tr td{
  padding: 0;
  border: unset;
  font-size:12px;
}

/*======= small table ends =========*/